/* Font style */
.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* Btn */
.btn-primary {
    color: aliceblue;
    background-color: #FD6E0A;
    padding: 10px 40px;
    font-size: 20px;
    border-radius: 5px;
}

/* Btn Hover */
.btn-primary:hover {
    background-color: cadetblue;
    color: aqua;
    transition-duration: 0.4s;
    cursor: pointer;
}

/* header */
.header {
    background-image: url(./images/developer.png), url(./images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

/* text-primary */
.text-primary {
    color: #FD6E0A;
}

/* nav style */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}


/* nave-title */
.nave-title {
    font-weight: 800px;
    font-size: 45px;
}


/* list item <li> */
nav ul li {
    list-style: none;
}


/* href  <a> */
nav li a {
    text-decoration: none;
    margin-right: 50px;
    color: black;

    /* unouderlist <ul> */
}

nav ul {
    display: flex;
    align-items: center;
}

/* baner */
.baner {
    justify-content: space-between;
    display: flex;
    margin: 0 35px 0 210px;
    align-items: center;
    margin-top: 0;
}

/* baner-continer */
.baner-continer {
    max-width: 580px;
}

/* baner-greeting */
.baner-greeting {
    font-family: "Open Sans", sans-serif;
    margin-bottom: 5px;
    font-size: 40px;
    width: 177px;
    height: 61px;
    color: #474747;
}

/* baner-titel */
.baner-titel {
    margin-top: 10px;
    margin-bottom: 5px;
    color: black;
    font-size: 80px;
    width: 498px;
    height: 116px;
}

/* bener-despiton */
.bener-despiton {
    width: 575px;
    height: 75px;
}

.img>img {
    width: 560px;
    height: 630px;
}

.backgrund-color {
    background-color: #FFF8F3;
}

/* Headder ariea */
main {
    max-width: 1140px;
    margin: 0 auto;
}

.about {
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 100px;
    box-shadow: 2px 2px 2px 2px rgb(155, 150, 150);
}

.abouth3 {
    font-size: 35px;
    font-weight: bold;
}

.aboutp {
    font-size: 18px;
}

.about-items {
    display: flex;
    /* gap: 50px; */
    justify-content: space-around;
}

.about-title {
    font-size: 20px;
}

.about-description {
    font-size: 20px;
    font-weight: bold;
}

/* Section 2 */
.section1 {
   padding-left: 50px;
}
.sectiontiter {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    /* width: 200px; */
}

.sectionp {
    color: #757575;
    font-size: 18px;
    text-align: center;
    width: 990px;
}
.boxfather {
    margin-top: 80px;
    display: flex;
    gap: 10px;
    
}
.boxitem {
    border-color: #FFFFFF;
    padding: 20px;
   width: 200px;
   height: 350px;
    box-shadow: 5px 5px 5px 5px rgb(160, 147, 147);
}
.paragrap5 {
    padding: 0 30px 0 2px;
}
.prome {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}

.section2titel2 {
    display: flex;
   justify-content: space-around;
   align-items: center;
}
.rana {
    display: flex;
    justify-content: space-around;
}
.promecoass8 {
    padding: 20Px;
    /* border-bottom: #474747 2px solid; */
}
.btnlast {
    text-align: center;
}
footer {
    display: flex;
    gap: 40pxpx;
}
.brither2 {
    margin: 48px 0 0 30px;
    gap: 20px;
    /* width: 50%; */
}
footer {
    padding: 130px 230px;
}
.inputfill {
    gap: 20px;
}
.inputtext input[type="text"]{
    width: 300px;
    height: 30px;
    padding: 10px 20px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
}
.inputemel input[type="email"]{
    width: 300px;
    height: 30px;
    padding: 10px 20px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
}
.textarea {
    width: 300px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}